/* Reset and Base */

Body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #fffaf8;
    color: #4a2c2a;
    text-align: center;
}

/* Header */
header {
    background: #fde6eb;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #4a2c2a;
    font-weight: bold;
}
